---
import Layout from "../components/Layout.astro";
---

<Layout title="The Blots Programming Language">
  <div class="space-y-4 font-serif text-2xl text-pretty">
    <p>
      Blots is a small, expression-oriented programming language designed to be
      quick to learn, easy to use, and to produce code that's readable yet
      reasonably compact.
    </p>

    <p>
      Blots is not a general-purpose programming language. Instead, it's
      designed to be useful out of the box for quick calculations and data
      transformation, particularly with JSON.
    </p>

    <p>
      Visit the <a
        href="https://github.com/paul-russo/blots-lang"
        target="_blank"
        rel="noopener noreferrer"
        class="underline transition-colors hover:text-purple-700 focus:text-purple-700"
        >GitHub repository</a
      > to install the Blots runtime and learn more.
    </p>
  </div>
</Layout>
