---
import "../styles/global.css";
import { Font } from "astro:assets";

const { title } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta
    name="description"
    content="
Blots is a small, expression-oriented programming language designed to be quick to learn and easy to use. It's designed to be useful out of the box for quick calculations and data transformation, particularly with JSON."
  />
  <title>{title}</title>
  <Font cssVariable="--font-neuton" preload />
</head>
